.footer{
	background-color: #FFFFFF;
	padding: 1rem;
	padding-top:2rem;
	text-align: center;
	margin: 0;

	grid-area:footer;

	h6{
		color: map-get($color,terciary);
		font-size: 2rem;
		font-weight: map-get($font-weights,"semibold");

	}
	
}